DATABASE_URL="postgresql://yourusername:yourpassword@localhost:5432/shayo?schema=public"

JWT_SECRET=change-me-to-a-random-secret
JWT_EXPIRES_IN=7d

BETTER_AUTH_SECRET=change-me-to-a-random-secret
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth
# GOOGLE_CLIENT_ID=your-google-client-id
# GOOGLE_CLIENT_SECRET=your-google-client-secret
